$white: #fff;
$off-white: #fafafa;
$light-gray: #eee;
$charcoal: #4a4a4a;
$slate: #2F2E2D;
$black: #000;

$burgundy: #51171D;
$cocoa: #21151B;
$cedar: #2F1313;
$putty: #E5CB91;
$ebb: #E8E3DF;
$light-purple: #E4E1E3;