@charset "UTF-8";
body {
  background: #E4E1E3;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: #2F2E2D;
  font-family: brandon-grotesque, sans-serif;
}

::-moz-selection {
  background: #51171D;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #51171D;
  color: #fff;
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  color: #51171D;
  transition: all 0.2s ease-in-out;
}

.page-header {
  padding-top: 6rem;
  padding-bottom: 3rem;
}
.page-header h1 {
  font-size: clamp(1.75rem, 3.5vw, 3rem);
  color: #51171D;
  font-weight: bold;
}

.popup {
  top: 9rem;
  left: -1.75rem;
}
@media screen and (min-width: 480px) {
  .popup {
    top: -0.5rem;
    left: 0;
    z-index: 1001;
  }
}
@media screen and (min-width: 992px) {
  .popup {
    left: -1rem;
    top: -1rem;
    z-index: 1;
  }
}
@media screen and (min-width: 1280px) {
  .popup {
    left: -1.5rem;
    top: -3.25rem;
  }
}
.popup-link, .popup-trigger {
  background: #2F1313;
  width: 5.25rem;
  height: 5.25rem;
  padding: 0.75rem;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  letter-spacing: 0.05em;
  font-size: 0.6125rem;
  line-height: 1.25em;
  text-transform: lowercase;
  box-shadow: none !important;
}
@media screen and (min-width: 1280px) {
  .popup-link, .popup-trigger {
    width: 6.75rem;
    height: 6.75rem;
    font-size: 0.75rem;
    padding: 1rem;
  }
}
.popup-link span, .popup-trigger span {
  display: block;
  transform: rotate(-10deg);
}

section.announcement p {
  font-weight: normal;
  font-size: clamp(0.875rem, 1vw, 1rem);
}

#covid-modal .overlay-wrapper {
  background: #E8E3DF;
  border: 1px solid #4a4a4a;
}
#covid-modal .close {
  color: #4a4a4a;
}
#covid-modal .headline {
  color: #4a4a4a;
}
#covid-modal .headline h2 {
  font-size: clamp(1.5rem, 3vw, 2.25rem);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#covid-modal .content h3 {
  color: #4a4a4a;
  font-size: clamp(0.875rem, 1vw, 1rem);
  letter-spacing: 0.05em;
}
#covid-modal .content p {
  color: #4a4a4a;
}
#covid-modal .content p a {
  color: #4a4a4a;
  text-decoration: underline;
}

.site-header {
  background: #51171D;
  color: #fff;
}
.site-header a {
  color: #fff;
}
.site-header .site-nav > ul > li:after {
  padding: 0 0.675rem;
}
@media screen and (min-width: 1280px) {
  .site-header .site-nav > ul > li:after {
    padding: 0 1rem;
  }
}
.site-header .site-nav > ul > li a {
  font-size: clamp(0.9375rem, 1.2vw, 1.125rem);
  font-weight: normal;
  color: #fff;
  text-transform: none;
  letter-spacing: 0.03em;
}
.site-header .site-nav > ul > li a:hover {
  text-decoration: underline;
}
.site-header .site-nav__target {
  display: block;
}
.site-header .site-nav__target-link {
  display: inline-block;
  font-size: clamp(0.9375rem, 1.2vw, 1.125rem);
  font-weight: normal;
  color: #fff;
  text-transform: none;
  letter-spacing: 0.03em;
}
.site-header .site-nav__target-link:hover {
  text-decoration: underline;
}
.site-header .site-nav__target:hover {
  cursor: pointer;
}
.site-header .site-nav__target.open svg {
  transform: rotate(180deg);
}
.site-header .site-nav__target.open .site-nav__dropdown {
  display: grid;
  gap: 0.75rem;
  border: 1px solid #E8E3DF;
  padding: 1rem;
  max-width: 20rem;
  margin: 1rem auto;
}
@media screen and (min-width: 992px) {
  .site-header .site-nav__target.open .site-nav__dropdown {
    opacity: 1;
    z-index: 10;
  }
}
.site-header .site-nav__target svg {
  width: 0.5rem;
}
.site-header .site-nav__dropdown {
  display: none;
}
@media screen and (min-width: 992px) {
  .site-header .site-nav__dropdown {
    display: block;
    position: absolute;
    top: 1rem;
    background: #E8E3DF;
    padding: 1rem;
    border: none;
    border-radius: 0.25rem;
    opacity: 0;
    transition: all 300ms ease;
    z-index: -1;
  }
}
.site-header .site-nav__dropdown-link {
  color: #51171D !important;
  display: block;
  text-wrap: nowrap;
  letter-spacing: 0 !important;
}
@media screen and (min-width: 992px) {
  .site-header .nameplate {
    padding-bottom: 4rem;
  }
}
@media screen and (min-width: 992px) {
  .site-header .nameplate .nameplate-wrapper {
    border-color: #fff;
    justify-content: space-between;
    padding: 4rem 0 2rem 0;
  }
}
.site-header .nameplate .logo a {
  display: block;
}
.site-header .nameplate .logo .image {
  flex: 1;
}
@media screen and (min-width: 480px) {
  .site-header .nameplate .logo .image {
    flex: none;
  }
}
@media screen and (min-width: 992px) {
  .site-header .nameplate .logo .image {
    display: flex;
    justify-content: center;
  }
}
.site-header .nameplate .logo .image img {
  width: 100%;
  max-width: 225px;
}
@media screen and (min-width: 992px) {
  .site-header .nameplate .logo .image img {
    max-width: 100%;
    width: 300px;
  }
}
.site-header .nameplate .info {
  align-self: start;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 992px) {
  .site-header .nameplate .info {
    align-self: center;
    padding-left: 0;
    padding-right: 0;
  }
}
.site-header .nameplate .info h3 {
  font-size: clamp(1.125rem, 1.5vw, 1.25rem);
  letter-spacing: 0.25em;
  color: #fff;
}
.site-header .nameplate .info p {
  font-size: clamp(0.875rem, 1.25vw, 1.125rem);
  font-style: normal;
  line-height: 1.7em;
  color: #fff;
}
.site-header .hamburger .patty {
  background: #fff;
}
.site-header .hamburger .patty:after, .site-header .hamburger .patty:before {
  background: #fff;
}
.site-header .mobile-nav {
  border-bottom: 1px solid #fff;
}
.site-header .mobile-nav ul a {
  font-size: 1.25rem;
  text-transform: capitalize;
  letter-spacing: 0.025em;
  font-weight: 400;
  padding: 0.75rem 0.5rem;
}
.site-header .mobile-nav ul a:hover {
  text-decoration: underline;
}
.site-header .mobile-nav ul .site-nav__target-link {
  font-size: 1.25rem;
  text-transform: capitalize;
  letter-spacing: 0.025em;
  font-weight: 400;
  padding: 0.75rem 0.5rem;
}
.site-header .mobile-nav ul .site-nav__dropdown-link {
  color: #fff !important;
  font-size: 1rem;
  padding: 0.25rem 0;
}
.site-header .social-links {
  top: -1rem;
}
.site-header .social-links .social-link a img {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.utility-nav {
  background: #2F1313;
  padding: 0.75rem 0;
  color: #fff;
}
.utility-nav h5 {
  font-size: 0.6125rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 2rem 0 0;
  margin: 0;
}
.utility-nav .links {
  display: flex;
  align-items: center;
  padding-top: 2px;
}
.utility-nav .links a {
  color: #fff;
  line-height: 1rem;
  display: block;
  font-size: 0.8125rem;
  border-bottom: 2px solid transparent;
}
.utility-nav .links a:hover {
  text-decoration: none;
  border-bottom: 2px solid #fff;
}
.utility-nav .links a + a {
  margin-left: 2rem;
}

body.seattle .utility-nav .links a.seattle,
body.woodinville .utility-nav .links a.woodinville {
  border-bottom: 2px solid #fff;
}

body.page-template-location .page-location,
body.page-template-gallery .page-gallery,
body.page-template-menu .page-dine-in-menus {
  text-decoration: underline;
}

.social-links a {
  display: block;
  border-radius: 50%;
}
.social-links a img {
  width: 100%;
}

.site-footer {
  background: #2F2E2D;
}

body.page-template-splash .splash-header {
  background: #51171D;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-splash .splash-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}
body.page-template-splash .splash-header .logo {
  max-width: 8.75rem;
}
body.page-template-splash .splash-header .logo img {
  width: 100%;
}
body.page-template-splash .splash-body {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: calc(100vh - 120px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  body.page-template-splash .splash-body {
    height: 100vh;
  }
}
body.page-template-splash .splash-body .links {
  width: 100%;
}
body.page-template-splash .splash-body .link {
  text-align: center;
}
body.page-template-splash .splash-body .link + .link {
  padding-top: 2rem;
}
body.page-template-splash .splash-body .link a {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 1.125rem;
  background: rgba(81, 23, 29, 0.85);
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 1.125rem 2rem 0.875rem;
  transition: all 0.3s ease-in;
  width: 100%;
  max-width: 15rem;
}
@media screen and (min-width: 768px) {
  body.page-template-splash .splash-body .link a {
    max-width: 17.5rem;
  }
}
body.page-template-splash .splash-body .link a:hover {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  color: #51171D;
}
body.page-template-splash .splash-body .link a.disabled {
  cursor: not-allowed;
  background: #21151b;
  opacity: 0.8;
}
body.page-template-splash .splash-body .link a.disabled:hover {
  background: #21151b;
  color: #fff;
  opacity: 0.8;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
body.page-template-splash .splash-body .link a.disabled span.message {
  padding-top: 0.5rem;
  display: block;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.15em;
}

body.page-template-home .site-header .nameplate .info {
  display: block;
}
body.page-template-home .hero-photo {
  position: relative;
}
body.page-template-home .hero-photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
body.page-template-home .hero-photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-home .hero-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 480px) {
  body.page-template-home .hero-photo {
    position: relative;
    max-height: 600px;
  }
  body.page-template-home .hero-photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 34.0277777778%;
  }
  body.page-template-home .hero-photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
body.page-template-home .main {
  display: grid;
  padding: 2rem;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: start;
}
@media screen and (min-width: 480px) {
  body.page-template-home .main {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home .main {
    padding: 4rem 0;
  }
}
body.page-template-home .main .description {
  grid-column: 1/-1;
}
@media screen and (min-width: 992px) {
  body.page-template-home .main .description {
    grid-column: 2/span 4;
    grid-row: 1;
    padding-right: 2rem;
  }
}
body.page-template-home .main .description h3 {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  color: #51171D;
  padding-bottom: 1rem;
}
body.page-template-home .main .description p {
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  line-height: 1.75em;
}
body.page-template-home .main .description p strong {
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.875em;
}
body.page-template-home .main .photos {
  grid-column: 1/-1;
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 480px) {
  body.page-template-home .main .photos {
    grid-template-areas: "top top" "left right";
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home .main .photos {
    grid-column: 6/span 8;
    grid-row: 1;
  }
}
body.page-template-home .main .photos .top-photo {
  grid-area: top;
}
body.page-template-home .main .photos .bottom-left-photo {
  grid-area: left;
}
body.page-template-home .main .photos .bottom-right-photo {
  grid-area: right;
}
body.page-template-home .main .photos img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body.page-template-location section.location .info {
  padding-right: 2rem;
}
body.page-template-location section.location .info h3 {
  font-size: clamp(0.875rem, 1.2vw, 1.125rem);
  line-height: 1.5em;
  color: #51171D;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-bottom: 0.25rem;
}
body.page-template-location section.location .info p {
  font-size: clamp(0.875rem, 1.2vw, 1.125rem);
  line-height: 1.75em;
}
body.page-template-location section.location .info p + h3 {
  margin-top: 3rem;
}
body.page-template-location section.location .info a {
  text-decoration: underline;
  color: #2F2E2D;
}
body.page-template-location section.location .map {
  padding-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  body.page-template-menu .menu-section.columns-two .items {
    -moz-column-gap: 6rem;
         column-gap: 6rem;
  }
}
body.page-template-menu .menu-section.columns-one .section-header {
  text-align: center;
}
body.page-template-menu .menu-section.columns-one .section-header h3 {
  display: inline-block;
}
body.page-template-menu .menu-section.specials .section-header {
  display: none;
}
@media screen and (min-width: 992px) {
  body.page-template-menu .menu-section.specials {
    grid-column: 3/span 10;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-menu .menu-section.specials {
    grid-column: 4/span 8;
  }
}
body.page-template-menu .menu-section.specials .items {
  padding: 3rem 3rem 1rem 3rem;
}
@media screen and (min-width: 992px) {
  body.page-template-menu .menu-section.specials .items {
    padding: 2rem 4rem 2rem 4rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-menu .menu-section.specials .items .item {
    margin: 0 auto;
    max-width: 30rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-menu .menu-section.specials .image {
    padding-bottom: 0;
  }
  body.page-template-menu .menu-section.specials .image img {
    position: absolute;
    top: 3rem;
    left: -6rem;
    z-index: 10;
  }
}
body.page-template-menu .section-header {
  margin-bottom: 2rem;
}
body.page-template-menu .section-header h3 {
  font-size: clamp(1.375rem, 2vw, 1.75rem);
  color: #565659;
  font-weight: 500;
  padding-bottom: 0.5rem;
  border-bottom-style: double;
  border-bottom-width: 4px;
  border-bottom-color: #565659;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
body.page-template-menu .notes p {
  color: #51171D;
}
body.page-template-menu nav.menu-subnav {
  padding: 3rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-menu nav.menu-subnav {
    padding-bottom: 6rem;
  }
}
body.page-template-menu nav.menu-subnav a {
  font-size: clamp(1rem, 1.25vw, 1.125rem);
  color: #51171D;
  letter-spacing: 0.15em;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 0.25rem;
  border-bottom: 3px solid transparent;
}
body.page-template-menu nav.menu-subnav a.active, body.page-template-menu nav.menu-subnav a:hover {
  border-bottom: 3px solid #51171D;
}
body.page-template-menu .item {
  color: #2F2E2D;
}
body.page-template-menu .item .title h4 {
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.25em;
  font-size: clamp(1rem, 1.1vw, 1.125rem);
}
body.page-template-menu .item .title h4 .price:before {
  content: "·";
  padding-left: 0.25rem;
  padding-right: 0.5rem;
}
body.page-template-menu .item .details p {
  line-height: 1.5em;
  font-size: clamp(1rem, 1.3vw, 1.25rem);
}
body.page-template-menu .item .details p span.note, body.page-template-menu .item .details p span.options {
  font-style: italic;
}
body.page-template-menu .notes p {
  font-style: normal;
  text-transform: uppercase;
  color: #2F2E2D;
  font-size: clamp(0.75rem, 1vw, 0.9375rem);
  letter-spacing: 0.05em;
}
body.page-template-menu .pairing {
  font-size: clamp(0.875rem, 1vw, 1rem);
  line-height: 1.5em;
}
body.page-template-menu .specials .section-header {
  text-align: center;
}
body.page-template-menu .specials.columns-two .items {
  padding-left: 0;
  padding-right: 0;
}
body.page-template-menu .specials.columns-one .item + .item {
  padding-top: 2rem;
}
body.page-template-menu .specials .item .title h4 {
  text-transform: none;
}
body.page-template-menu .template-wine-by-the-glass .item.duo {
  margin-bottom: 2.5rem;
}
body.page-template-menu .template-wine-by-the-glass .item.duo .wine {
  grid-template-columns: 2rem 1fr;
}
body.page-template-menu .template-wine-by-the-glass .item.duo .title {
  padding-bottom: 0.5rem;
}
body.page-template-menu .template-wine-by-the-glass .item.duo .duo-details .name, body.page-template-menu .template-wine-by-the-glass .item.duo .duo-details .price {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
body.page-template-menu .theme-light-purple .specials {
  border: 2px solid #51171D;
  background: rgba(255, 255, 255, 0.56);
  padding: 3rem;
}
body.page-template-menu .theme-light-purple .specials .items {
  padding-top: 0;
  padding-bottom: 0;
}
body.page-template-menu .theme-light-purple .specials .section-header {
  display: block;
}
body.page-template-menu .theme-light-purple .specials .section-header h3 {
  display: block;
  padding-bottom: 2rem;
}
body.page-template-menu .theme-light-purple .specials .notes {
  padding-top: 1rem;
  padding-bottom: 3rem;
}
body.page-template-menu .theme-light-purple .specials .notes p {
  font-style: normal;
  text-transform: uppercase;
  color: #2F2E2D;
  font-size: clamp(0.75rem, 1vw, 0.9375rem);
  letter-spacing: 0.05em;
}
body.page-template-menu .theme-light-purple .special {
  border: 2px solid #51171D;
  background: rgba(255, 255, 255, 0.56);
  text-align: left;
  color: #2F2E2D;
  padding: 2rem 2rem;
}
body.page-template-menu .theme-light-purple .align-center .special {
  text-align: center;
}
body.page-template-menu .theme-pink {
  background: #F0C0CA;
}
body.page-template-menu .theme-pink .specials {
  border: 2px solid #51171D;
  background: rgba(255, 255, 255, 0.56);
  padding: 3rem;
}
body.page-template-menu .theme-pink .specials .items {
  padding-top: 0;
  padding-bottom: 0;
}
body.page-template-menu .theme-pink .specials .section-header {
  display: block;
}
body.page-template-menu .theme-pink .specials .section-header h3 {
  display: block;
  padding-bottom: 2rem;
}
body.page-template-menu .theme-pink .specials .notes {
  padding-top: 1rem;
  padding-bottom: 3rem;
}
body.page-template-menu .theme-pink .specials .notes p {
  font-style: normal;
  text-transform: uppercase;
  color: #2F2E2D;
  font-size: clamp(0.75rem, 1vw, 0.9375rem);
  letter-spacing: 0.05em;
}
body.page-template-menu .theme-pink .special {
  border: 2px solid #51171D;
  background: rgba(255, 255, 255, 0.56);
  text-align: left;
  color: #2F2E2D;
  padding: 2rem 2rem;
}
body.page-template-menu .theme-pink .align-center .special {
  text-align: center;
}

body.page-template-group-dining .section-header h3 {
  font-size: clamp(1.75rem, 3.5vw, 3rem);
  color: #51171D;
  font-weight: bold;
}
body.page-template-group-dining section.header {
  color: #2F2E2D;
}
body.page-template-group-dining section.header .cta .btn {
  background: #51171D;
  border-radius: 2px;
}
body.page-template-group-dining section.faqs {
  color: #2F2E2D;
}
body.page-template-group-dining section.faqs .question h4 {
  color: #51171D;
  font-weight: normal;
}
body.page-template-group-dining section.faqs .cta .btn {
  background: #51171D;
}
body.page-template-group-dining section.form {
  color: #2F2E2D;
}
body.page-template-group-dining section.form a {
  text-decoration: underline;
  color: #2F2E2D;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-response-message {
  color: #51171D;
  background: #E5CB91;
  padding: 1rem;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-button-submit {
  background: #51171D;
  border-radius: 2px;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-field input {
  border: 1px solid #51171D;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-field label {
  color: #51171D;
  font-weight: bold;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-field label span.forminator-required {
  color: #51171D;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-field .forminator-error-message {
  color: #51171D;
  background: #E5CB91;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 2px;
  display: inline-block;
  font-style: normal;
}
body.page-template-group-dining .ui-datepicker-prev span, body.page-template-group-dining .ui-datepicker-next span {
  color: #51171D;
}
body.page-template-group-dining .ui-datepicker-month, body.page-template-group-dining .ui-datepicker-year {
  color: #fff;
  background: #51171D;
  border-color: #51171D;
  font-weight: bold;
}
body.page-template-group-dining .ui-datepicker-calendar {
  border-left: 1px solid #E5CB91;
}
body.page-template-group-dining .ui-datepicker-calendar th {
  background: #E5CB91;
  color: #51171D;
}
body.page-template-group-dining .ui-datepicker-calendar td {
  border-right: 1px solid #E5CB91;
  border-bottom: 1px solid #E5CB91;
}
body.page-template-group-dining .ui-datepicker-calendar td a:hover, body.page-template-group-dining .ui-datepicker-calendar td a.ui-state-active {
  background: #E5CB91;
  color: #21151B;
}