.site-header {
	background: $burgundy;
	color: $white;

	a {
		color: $white;
	}

    @import 'site-nav'; 

	@import 'nameplate'; 

	@import 'hamburger'; 

	@import 'mobile-nav'; 

	@import 'social'; 
}

@import 'utility-nav';

body.seattle .utility-nav .links a.seattle,
body.woodinville .utility-nav .links a.woodinville {
	border-bottom: 2px solid $white;
}

body.page-template-location .page-location,
body.page-template-gallery .page-gallery,
body.page-template-menu .page-dine-in-menus {
    text-decoration: underline;
}

.social-links {
	a {
		display: block;
		border-radius: 50%;

		img {
			width: 100%;
		}
	}
}