.mobile-nav {
    border-bottom: 1px solid $white;

    ul {
        a {
            font-size: 1.25rem;
            text-transform: capitalize;
            letter-spacing: 0.025em;
            font-weight: 400;
            padding: 0.75rem 0.5rem;

            &:hover {
                text-decoration: underline;
            }
        }

        .site-nav__target-link {
            font-size: 1.25rem;
            text-transform: capitalize;
            letter-spacing: 0.025em;
            font-weight: 400;
            padding: 0.75rem 0.5rem;
        }

        .site-nav__dropdown-link {
            color: $white !important;
            font-size: 1rem;
            padding: 0.25rem 0;
        }
    }
}
