.site-nav {
    & > ul {
        & > li {
            &:after {
                padding: 0 0.675rem;
                @include desktop-medium {
                    padding: 0 1rem;
                }
            }

            a {
                font-size: clamp(0.9375rem, 1.2vw, 1.125rem);
                font-weight: normal;
                color: $white;
                text-transform: none;
                letter-spacing: 0.03em;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &__target {
        display: block;

        &-link {
            display: inline-block;
            font-size: clamp(0.9375rem, 1.2vw, 1.125rem);
            font-weight: normal;
            color: $white;
            text-transform: none;
            letter-spacing: 0.03em;

            &:hover {
                text-decoration: underline;
            }
        }

        &:hover {
            cursor: pointer;
        }
        &.open {
            svg {
                transform: rotate(180deg);
            }
            .site-nav__dropdown {
                display: grid;
                gap: 0.75rem;
                border: 1px solid $ebb;
                padding: 1rem;
                max-width: 20rem;
                margin: 1rem auto;

                @include desktop-small {
                    opacity: 1;
                    z-index: 10;
                }
            }
        }

        svg {
            width: 0.5rem;
        }
    }

    &__dropdown {
        display: none;

        @include desktop-small {
            display: block;
            position: absolute;
            top: 1rem;
            background: $ebb;
            padding: 1rem;
            border: none;
            border-radius: 0.25rem;
            opacity: 0;
            transition: all 300ms ease;
            z-index: -1;
        }

        &-link {
            color: $burgundy !important;
            display: block;
            text-wrap: nowrap;
            letter-spacing: 0 !important;
        }
    }
}
