.social-links {
    top: -1rem;

    .social-link {
        a {
            img {
                border: 1px solid rgba(255, 255, 255, 0.5);
                border-radius: 50%;
            }
        }
    }
}
