.utility-nav {
	background: $cedar;
	padding: 0.75rem 0;
	color: $white;

	h5 {
		font-size: 0.6125rem;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 0.1em;
		line-height: 1rem;
		padding: 0 2rem 0 0;
		margin: 0;
	}
	
	.links {
		display: flex;
		align-items: center;
		padding-top: 2px;

		a {
			color: $white;
			line-height: 1rem;
			display: block;
			font-size: 0.8125rem;
			border-bottom: 2px solid transparent;

			&:hover {
				text-decoration: none;
				border-bottom: 2px solid $white;
			}

			& + a {
				margin-left: 2rem;
			}
		}
	}
}