body,
button,
input,
select,
optgroup,
textarea {
	color: $slate;
	font-family: $brandon;
}


::-moz-selection {
	background: $burgundy;
	color: $white;
	text-shadow: none;
}

::selection {
	background: $burgundy;
	color: $white;
	text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

a {
	color: $burgundy;
	transition: all 0.2s ease-in-out;
}

.page-header {
	padding-top: 6rem;
	padding-bottom: 3rem;
	
	h1 {
		font-size: clamp(1.75rem, 3.5vw, 3rem);
		color: $burgundy;
		font-weight: bold;
	}
}