body.page-template-group-dining {
    .section-header {
        h3 {
            font-size: clamp(1.75rem, 3.5vw, 3rem);
            color: $burgundy;
            font-weight: bold;
        }
    }

    section.header {
        color: $slate;

        .cta {
            .btn {
                background: $burgundy;
                border-radius: 2px;
            }
        }
    }

    section.faqs {
        color: $slate;

        .question {
            h4 {
                color: $burgundy;
                font-weight: normal;
            }
        }

        .cta {
            .btn {
                background: $burgundy;
            }
        }
    }

    section.form {
        color: $slate;

        a {
            text-decoration: underline;
            color: $slate;
        }

        .forminator-custom-form {
            .forminator-response-message {
                color: $burgundy;
                background: $putty;
                padding: 1rem;
            }

            .forminator-button-submit {
                background: $burgundy;
                border-radius: 2px;
            }

            .forminator-field {
                input {
                    border: 1px solid $burgundy;
                }

                label {
                    color: $burgundy;
                    font-weight: bold;

                    span.forminator-required {
                        color: $burgundy;
                    }
                }

                .forminator-error-message {
                    color: $burgundy;
                    background: $putty;
                    padding: 0.5rem;
                    margin-top: 0.5rem;
                    border-radius: 2px;
                    display: inline-block;
                    font-style: normal;
                }
            }
        }
    }

    .ui-datepicker {
        &-prev,
        &-next {
            span {
                color: $burgundy;
            }
        }

        &-month,
        &-year {
            color: $white;
            background: $burgundy;
            border-color: $burgundy;
            font-weight: bold;
        }

        &-calendar {
            border-left: 1px solid $putty;

            th {
                background: $putty;
                color: $burgundy;
            }

            td {
                border-right: 1px solid $putty;
                border-bottom: 1px solid $putty;

                a {
                    &:hover,
                    &.ui-state-active {
                        background: $putty;
                        color: $cocoa;
                    }
                }
            }
        }
    }
}
