body.page-template-location {

    section.location {
        .info {
            padding-right: 2rem;

            h3 {                
                font-size: clamp(0.875rem, 1.2vw, 1.125rem);
                line-height: 1.5em;
                color: $burgundy;
                font-weight: bold;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                padding-bottom: 0.25rem;
            }

            p {
                font-size: clamp(0.875rem, 1.2vw, 1.125rem);
                line-height: 1.75em;

                 & + h3 {
                     margin-top: 3rem;
                 }
            }

            a {
                text-decoration: underline;
                color: $slate;
            }
        }

        .map {
            padding-bottom: 3rem;
        }
    }
}