body.page-template-splash {
    .splash {
        &-header {
            background: $burgundy;
            display: flex;
            justify-content: center;
            padding: 2rem;

            @include tablet {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 10;
            }

            .logo {
                max-width: 8.75rem;

                img {
                    width: 100%;
                }
            }
        }

        &-body {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            height: calc(100vh - 120px);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            @include tablet {
                height: 100vh;
            }

            .links {
                width: 100%;
            }

            .link {
                text-align: center;

                & + .link {
                    padding-top: 2rem;
                }

                a {
                    display: inline-block;
                    color: $white;
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 0.2em;
                    font-size: 1.125rem;
                    background: rgba(81, 23, 29, 0.85);
                    border: 1px solid rgba(255, 255, 255, 0.6);
                    padding: 1.125rem 2rem 0.875rem;
                    transition: all 0.3s ease-in;
                    width: 100%;
                    max-width: 15rem;

                    @include tablet {
                        max-width: 17.5rem;
                    }

                    &:hover {
                        background: rgba(255, 255, 255, 1);
                        border: 1px solid rgba(255, 255, 255, 1);
                        color: $burgundy;
                    }

                    &.disabled {
                        cursor: not-allowed;
                        background: #21151b;
                        opacity: 0.8;

                        &:hover {
                            background: #21151b;
                            color: $white;
                            opacity: 0.8;
                            border: 1px solid rgba(255, 255, 255, 0.6);
                        }

                        span.message {
                            padding-top: 0.5rem;
                            display: block;
                            font-size: 0.75rem;
                            font-weight: 400;
                            letter-spacing: 0.15em;
                        }
                    }
                }
            }
        }
    }
}
