#covid-modal {
	.overlay {
		&-wrapper {
			background: $ebb;
			border: 1px solid $charcoal;
		}
	}

	.close {
		color: $charcoal;
	}

	.headline {
		color: $charcoal;

		h2 {
			font-size: clamp(1.5rem, 3vw, 2.25rem);
			text-transform: uppercase;
			letter-spacing: 0.05em;
		}
	}

	.content {
		h3 {
			color: $charcoal;
			font-size: clamp(0.875rem, 1vw, 1rem);
			letter-spacing: 0.05em;
		}

		p {
			color: $charcoal;

			a {
				color: $charcoal;
				text-decoration: underline;
			}
		}
	}
}