.popup {
	top: 9rem;
	left: -1.75rem;

	@include tablet-small {
		top: -0.5rem;
		left: 0;
		z-index: 1001;
	}
	
	@include desktop-small {
		left: -1rem;
		top: -1rem;
		z-index: 1;
	}

	@include desktop-medium {
		left: -1.5rem;
		top: -3.25rem;
	}

	&-link,
	&-trigger {
		background: $cedar;
		width: 5.25rem;
		height: 5.25rem;
		padding: 0.75rem;
		border-radius: 50%;
		border: 2px solid $white;
		color: $white;
		letter-spacing: 0.05em;
		font-size: 0.6125rem;
		line-height: 1.25em;
		text-transform: lowercase;
		box-shadow: none !important;

		@include desktop-medium {
			width: 6.75rem;
			height: 6.75rem;
			font-size: 0.75rem;
			padding: 1rem;
		}

		span {
			display: block;
			transform: rotate(-10deg);
		}
	}
}