.item {
    color: $slate;
    
    .title {
        h4 {
            letter-spacing: 0.02em;
            font-weight: 500;
            line-height: 1.25em;
            font-size: clamp(1rem, 1.1vw, 1.125rem);

            .price {
                &:before {
                    content: '·';
                    padding-left: 0.25rem;
                    padding-right: 0.5rem;
                }
            }
        }

    }
    
    .details {
        p {
            line-height: 1.5em;
            font-size: clamp(1rem, 1.3vw, 1.25rem);

            span {      
                &.note,
                &.options {
                    font-style: italic;
                }
            }
        }
    }
}

.notes {
    p {
        font-style: normal;
        text-transform: uppercase;
        color: $slate;
        font-size: clamp(0.75rem, 1vw, 0.9375rem);
        letter-spacing: 0.05em;
    }
}

.pairing {
    font-size: clamp(0.875rem, 1vw, 1rem);
    line-height: 1.5em;
}

.specials {
    
    .section-header {
        text-align: center;
    }

    &.columns-two {
        .items {
            padding-left: 0;
            padding-right: 0;
        }
    }
    

    &.columns-one {
        .item {
            & + .item {
                padding-top: 2rem;
            }    
        }    
    }
    .item {
        .title {
            h4 {
                text-transform: none;
            }
        }

    }    
}

.template-wine-by-the-glass {
    .item.duo {
        margin-bottom: 2.5rem;

        .wine {
            grid-template-columns: 2rem 1fr;
        }

        .title {
            padding-bottom: 0.5rem;
        }

        .duo-details {
            .vintage {
            }
            .name, .price {
                text-transform: uppercase;
                letter-spacing: 0.05em;
            }

            .description {
            }
        }


    }
}
