.section-header {
    margin-bottom: 2rem;

    h3 {
		font-size: clamp(1.375rem, 2vw, 1.75rem);
		color: #565659;
		font-weight: 500;
        padding-bottom: 0.5rem;
        border-bottom-style: double;
        border-bottom-width: 4px;
        border-bottom-color: #565659;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
}

.notes {
    p {
        color: $burgundy;
    }
}