.theme-light-purple {

    .specials {
        border: 2px solid $burgundy;
        background: rgba(255, 255, 255, 0.56);
        padding: 3rem;

        .items {
            padding-top: 0;
            padding-bottom: 0;
        }

        .section-header {
            display: block;

            h3 {
                display: block;
                padding-bottom: 2rem;

            }
        }

        .notes {
            padding-top: 1rem;
            padding-bottom: 3rem;

            p {
                font-style: normal;
                text-transform: uppercase;
                color: $slate;
                font-size: clamp(0.75rem, 1vw, 0.9375rem);
                letter-spacing: 0.05em;
            }
        }
    }

    .special {
        border: 2px solid $burgundy;
        background: rgba(255, 255, 255, 0.56);
        text-align: left;
        color: $slate;
        padding: 2rem 2rem;
    }

    .align-center {
        .special {
            text-align: center;
        }
    }
}


.theme-pink {
    background: #F0C0CA;
 
    .specials {
        border: 2px solid $burgundy;
        background: rgba(255, 255, 255, 0.56);
        padding: 3rem;

        .items {
            padding-top: 0;
            padding-bottom: 0;
        }

        .section-header {
            display: block;

            h3 {
                display: block;
                padding-bottom: 2rem;

            }
        }

        .notes {
            padding-top: 1rem;
            padding-bottom: 3rem;

            p {
                font-style: normal;
                text-transform: uppercase;
                color: $slate;
                font-size: clamp(0.75rem, 1vw, 0.9375rem);
                letter-spacing: 0.05em;
            }
        }
    }

    .special {
        border: 2px solid $burgundy;
        background: rgba(255, 255, 255, 0.56);
        text-align: left;
        color: $slate;
        padding: 2rem 2rem;
    }

    .align-center {
        .special {
            text-align: center;
        }
    }

}

